*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.comics{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    a{
        color: inherit;
        text-decoration: none;
        width: calc(100%/6 - 20px);
        padding-top: 10px;
        .card{
            
            text-align: center;
            h2{
                font-size: 0.7em;
            }
        }
    }
}

.comic{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    img{
        width: 10%;
    }
    h1{
        padding-top: 10px;
    }

    .text{
        display: flex;
        line-height: 1.5;
        margin-right: 20px;
        p{
            width: 70%;
        }

        .details{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .price{
                font-size: 2em;
                color: green;
            }
        }
    }
}
