*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.comics{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .delete{
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 10;
        padding: 20px;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 11px -1px #000000;
        height: 150px;
        background-color: white;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        .buttons{
            margin-left: auto;
            justify-self: end;
            
            input{
                padding: 5px 8px;

                &:hover{
                    cursor: pointer;
                }
            }
            .green{
                background-color: green;
                color: white;
                font-weight: bold;
            }

            .red{
                background-color: red;
                color: white;
                font-weight: bold;
            }
        }
    }
    
    .img_title{

        text-align: center;
        width: calc(100% / 6);
        margin: 20px 20px;
        .comics-details{
            
            position: relative;
            img{
                width: 100%;
            }
    
            .options{
                width: 100%;
                height: 99%;
                position: absolute;
                top: 0;
                left: 0;

                a.edit, a.link-comic, .remove i{
                    display: none;   
                    
                }
            }
    
            &:hover{
                .options{
                    background-color: rgba(0, 0, 0, 0.37);
                }
                a.edit{
                    display: block;
                    color: rgb(29, 245, 0);
                    font-size: 1.6em;
                    position: absolute;
                    top: 10px;
                    right: 10px; 
                    
                }

                .remove i{
                    cursor: pointer;
                    display: block;
                    color: rgb(212, 0, 0);
                    font-size: 1.6em;
                    position: absolute;
                    top: 50px;
                    right: 17px;

                }
    
                a.link-comic{
                    height: 100%;
                    color: inherit;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    span{
                        color: white;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 35px 25px;
                        border-radius: 50%;
                        background-color: rgba(0, 0, 0, 0.747);
                    }
                }
            }
        
            
        }
        h2{
            font-size: 0.8em;
        }
    }

    .add-comic{
        margin: 40px 20px;
        width: 250px;
        height: 250px;
        background-color: rgba(0, 0, 0, 0.37);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        font-weight: bold;

        a{
            text-decoration: none;
            color: white;
            padding: 10px 35px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.747);
        }
        
    }
}

.comic{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    img{
        width: 10%;
    }
    h1{
        padding-top: 10px;
    }

    .text{
        display: flex;
        line-height: 1.5;
        margin-right: 20px;
        p{
            width: 70%;
        }

        .details{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .price{
                font-size: 2em;
                color: green;
            }
        }
    }


}


.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form.create, form.edit{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 250px;
        flex-wrap: wrap;
    }
}