* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.comics {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.comics .delete {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 11px -1px #000000;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.comics .delete .buttons {
  margin-left: auto;
  justify-self: end;
}

.comics .delete .buttons input {
  padding: 5px 8px;
}

.comics .delete .buttons input:hover {
  cursor: pointer;
}

.comics .delete .buttons .green {
  background-color: green;
  color: white;
  font-weight: bold;
}

.comics .delete .buttons .red {
  background-color: red;
  color: white;
  font-weight: bold;
}

.comics .img_title {
  text-align: center;
  width: calc(100% / 6);
  margin: 20px 20px;
}

.comics .img_title .comics-details {
  position: relative;
}

.comics .img_title .comics-details img {
  width: 100%;
}

.comics .img_title .comics-details .options {
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  left: 0;
}

.comics .img_title .comics-details .options a.edit,
.comics .img_title .comics-details .options a.link-comic,
.comics .img_title .comics-details .options .remove i {
  display: none;
}

.comics .img_title .comics-details:hover .options {
  background-color: rgba(0, 0, 0, 0.37);
}

.comics .img_title .comics-details:hover a.edit {
  display: block;
  color: #1df500;
  font-size: 1.6em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.comics .img_title .comics-details:hover .remove i {
  cursor: pointer;
  display: block;
  color: #d40000;
  font-size: 1.6em;
  position: absolute;
  top: 50px;
  right: 17px;
}

.comics .img_title .comics-details:hover a.link-comic {
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comics .img_title .comics-details:hover a.link-comic span {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 35px 25px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.747);
}

.comics .img_title h2 {
  font-size: 0.8em;
}

.comics .add-comic {
  margin: 40px 20px;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: bold;
}

.comics .add-comic a {
  text-decoration: none;
  color: white;
  padding: 10px 35px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.747);
}

.comic {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.comic img {
  width: 10%;
}

.comic h1 {
  padding-top: 10px;
}

.comic .text {
  display: flex;
  line-height: 1.5;
  margin-right: 20px;
}

.comic .text p {
  width: 70%;
}

.comic .text .details {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comic .text .details .price {
  font-size: 2em;
  color: green;
}

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form.create,
.form-container form.edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 250px;
  flex-wrap: wrap;
}

